@model IEnumerable<Topaz.Models.User>

<h2>spisok</h2>
<table class="table">
    <tr>
        <th>
            <a>

            </a>
        </th>
        <th>
            <a>

            </a>
        </th>
        <th>
            <a>

            </a>
        </th>
    </tr>
</table>